@font-face {
    font-family: 'Aviator-Script';
    src: url(../fonts/Aviator-Script.otf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url(../Avenir-Medium.ttf);
}

body,
html {
    margin: 0;
    font-size: 16px;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

input:focus,
button:focus,
textarea:focus {
    outline: none;
}

img {
    max-width: 100%;
}

a:hover,
a:focus {
    text-decoration: none;
}

.container {
    max-width: 1000px;
}

.nav-content img {
    width: 15rem;
    margin-top: 1rem;
    margin-bottom: -4.5rem;
}

.nav-content h1 {
    font-family: 'Aviator-Script';
    margin: 0;
    font-size: 3.5rem;
    color: #561E56;
    margin-left: 7rem;
}

.background-sec {
    background-image: url(../images/bg-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.nav-sec {
    background: #fff;
    padding-right: 5rem;
}

.hero-sec {
    padding: 3rem 0;
    padding-bottom: 0;
    padding-left: 7rem;
    min-height: calc(100vh - 9rem);
    display: flex;
    align-items: end;
}

.hero-sec3,
.hero-sec5,
.hero-sec4,
.hero-sec2 {
    min-height: calc(100vh - 9rem);
    display: flex;
    align-items: end;
}

.gagner-content {
    position: relative;
    margin-top: 5rem;
}


.gagner-content h1 {
    margin: 0;
    color: #fff;
    position: absolute;
    top: 0;
    right: 1rem;
    left: 0;
    bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Aviator-Script';
    font-size: 10rem;
    transform: rotate(353deg);
    text-shadow: 0px 7px #561956;
}

.leaf-sec {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
}

.leaf-sec .leaf {
    width: 4rem;
}

.leaf-sec h2 {
    font-size: 8.5rem;
    font-family: 'Aviator-Script';
    color: #fff;
    margin: 0;
    margin-bottom: -1rem;
}

.leaf-sec .mix {
    width: 17rem;
}

.leaf-sec h3 {
    margin: 0;
    color: #fff;
    font-size: 2.55rem;
    font-family: 'Montserrat-Regular';
}

.jug-1 {
    width: 26rem;
}

.under-jug {
    position: relative;
}

.under-jug-content {
    position: absolute;
    top: 55%;
    left: 5%;
    right: 0;
    bottom: 0;
    width: 80%;
}

.under-jug-content h4 {
    font-family: 'Aviator-Script';
    color: #fff;
    font-size: 2.1rem;
}

.footer-sec {
    background: #fff;
    padding: 0.2rem 0;
}

.f-logo {
    width: 6rem;
}

.f-list a {
    font-family: 'Aviator-Script';
    margin: 0;
    text-decoration: none;
    color: #561E56;
    font-size: 1.5rem;
}

.f-list a:hover {
    text-decoration: underline;
}

.f-social img {
    width: 2.2rem;
}

.hero-sec2 {
    padding: 5rem 0;
    padding-bottom: 0;
}

.bomb-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.bomb-content img {
    width: 18rem;
}

.bomb-content h1 {
    font-family: 'Aviator-Script';
    margin: 0;
    color: #561E56;
    position: absolute;
    top: 5rem;
    font-size: 5.5rem;
}

.bomb-content h2 {
    font-family: 'Aviator-Script';
    margin: 0;
    color: #561E56;
    position: absolute;
    top: 10.7rem;
    font-size: 4rem;
    line-height: .8;
    text-align: center;
    max-width: 10rem;
}

.leaf-sec2 {
    margin-left: 0;
    gap: 0.5rem;
    justify-content: end;
    position: relative;
}

.leaf-sec2 .leaf-img {
    position: absolute;
    top: 5.6rem;
    left: -1rem;
    right: 0;
    bottom: 0;
}

.leaf-sec2 h2 {
    font-size: 8rem;
    text-align: center;
}

.leaf-sec2 .mix {
    width: 18rem;
}

.leaf-sec2 h3 {
    font-size: 1.7rem;
}

.jug-2 img {
    width: 18rem;
}

.jug-2 {
    position: relative;
}

.bg-purple {
    margin-top: -3rem;
}

.bg-purple {
    position: relative;
}

.bg-p-content {
    position: absolute;
    top: 4rem;
    left: 3rem;
}

.bg-p-content h1 {
    font-family: 'Aviator-Script';
    color: #fff;
    margin: 0;
    font-size: 4rem;
    text-align: center;
}

.bg-p-content h3 {
    font-family: 'Aviator-Script';
    color: #fff;
    margin: 0;
    font-size: 2.5rem;
}

.social-purple {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
}

.social-purple h5 {
    font-family: 'Aviator-Script';
    color: #fff;
    margin: 0;
    font-size: 1.9rem;
}

.social-purple img {
    width: 1.9rem;
}

.bomb-jug {
    position: relative;
    z-index: 999;
}

.hero-sec3 {
    padding: 5rem 0;
    padding-bottom: 0;
}

.noel-img img {
    width: 18.5rem;
}

.cooking-girl {
    justify-content: center;
    display: flex;
    position: relative;
    z-index: 99;
}

.cooking-girl img {
    width: 14rem;
}

.back-jeu {
    right: 10rem;
    top: 1rem;
    bottom: 0;
}

.back-jeu .bomb-content img {
    width: 15rem;
}

.back-jeu .bomb-content h1 {
    top: 3rem;
    font-size: 5rem;
    left: 5rem;
}

.back-jeu .bomb-content h2 {
    top: 11.5rem;
    font-size: 3.5rem;
}

.back-jeu .bomb-content h1 span {
    position: absolute;
    top: 4rem;
}

.hero-sec3 .jug-2 {
    display: flex;
    justify-content: center;
    top: 0;
}

.hero-sec3 .jug-2 img {
    width: 10.5rem;
}

.noel-img {
    position: absolute;
    top: 2rem;
    left: 4rem;
}

.hero-sec3 .bg-purple {
    margin-top: -2.5rem;
}

.hero-sec3 .indexbg {
    z-index: 2;
}

.des-robo {
    position: absolute;
    top: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    left: 2rem;
}

.des-robo .des-leaf {
    width: 3rem;
}

.des-robo h1 {
    font-family: 'Aviator-Script';
    margin: 0;
    font-size: 4.7rem;
    color: #fff;
}

.des-robo .des-mix {
    width: 13rem;
    margin-top: 2rem;
}

.hero-sec3 .cours {
    position: absolute;
    top: 5.8rem;
    left: 6rem;
}

.hero-sec3 .cours h2 {
    font-family: 'Aviator-Script';
    margin: 0;
    font-size: 2.9rem;
    color: #fff;
}

.hero-sec3 .cours-r {
    position: absolute;
    top: 2.4rem;
    right: 5rem
}

.hero-sec3 .cours-r h4 {
    font-family: 'Aviator-Script';
    margin: 0;
    font-size: 2.9rem;
    color: #fff;
}

.je-joue-btn {
    position: relative;
    display: flex;
    justify-content: center;
    top: 0.3rem;
}

.je-joue-btn img {
    width: 9rem;
}

.je-joue-btn h3 {
    font-family: 'Aviator-Script';
    margin: 0;
    font-size: 2.8rem;
    color: #fff;
    position: absolute;
    top: -0.3rem;
}

.hero-sec3 .cours-r h6 {
    margin: 0;
    color: #fff;
    font-size: .72rem;
    margin-top: 1rem;
    text-align: center;
    font-family: 'Avenir-Medium';
}

.merci-content-girl .cook-2 {
    width: 27rem;
}

.hero-sec4 {
    padding: 5rem 0;
    padding-bottom: 0;
}

.merci-content-girl {
    position: relative;
}

.merci-content-girl .social-purple {
    max-width: 19rem;
    position: absolute;
    top: 26rem;
    text-align: center;
    left: 4rem;
    margin-top: 0;
}

.merci-content-girl .social-purple h5 {
    font-size: 2rem;
}

.merci-content-girl .social-purple h5 a {
    margin: 0 0.3rem;
    color: transparent;
}

.merci-leaf {
    position: absolute;
    top: 25rem;
    left: 2.2rem;
}

.merci-leaf img {
    width: 2.5rem;
}

.hero-sec4 .gagner-content {
    margin-top: -2rem;
    display: flex;
    justify-content: end;
}

.hero-sec4 .gagner-content img {
    transform: rotate(359deg);
    width: 27rem;
}

.hero-sec4 .gagner-content h1 {
    font-size: 6.5rem;
    left: 3rem;
    top: 1rem;
    text-align: center;
    line-height: 1;
    transform: rotate(356deg);
}

.bravo-leaf {
    position: absolute;
    bottom: 0;
    left: -2rem;
}

.bravo-leaf .leaf-vous {
    width: 3.5rem !important;
    transform: none !important;
}

.hero-sec4 .bomb-content {
    margin-top: 4rem;
}

.hero-sec4 .bomb-content p {
    font-family: 'Aviator-Script';
    margin: 0;
    color: #561E56;
    position: absolute;
    top: 3rem;
    font-size: 1.7rem;
    border-bottom: 2px solid #561E56;
}

.hero-sec4 .bomb-content h5 {
    font-family: 'Aviator-Script';
    margin: 0;
    color: #561E56;
    position: absolute;
    top: 5rem;
    line-height: .9;
    font-size: 2.7rem;
    padding: 0 2rem;
}

.parcour-btn label {
    background-color: #fff;
    width: 92%;
    height: 2.3rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 8rem;
    z-index: 1;
}

.parcour-btn span {
    color: #fff;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
}

.parcour-btn input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.purple-btn {
    text-align: center;
    margin-top: -1rem;
    position: relative;
    z-index: 1;
}


.hero-sec5 {
    padding: 4rem 0;
}

.formula h1 {
    font-family: 'Aviator-Script';
    color: #fff;
    font-size: 5rem;
    margin-bottom: 1.5rem;
    margin-left: 3rem;
}

.civil {
    display: flex;
    gap: 6rem;
    align-items: center;
}

.civil h4 {
    margin: 0;
    font-family: 'Aviator-Script';
    color: #fff;
    font-size: 2rem;
}

.civil span {
    margin: 0;
    font-family: 'Aviator-Script';
    color: #fff;
    font-size: 2rem;
    padding-right: 1rem;
}

.civil .input1 {
    width: 1.35rem;
    height: 1.35rem;
}

.form span {
    margin: 0;
    font-family: 'Aviator-Script';
    color: #fff;
    font-size: 2rem;
}

.form .input2 {
    border: 0;
    border-radius: 2rem;
    padding: 0.1rem 1rem;
    width: calc(100% - 4rem);
    max-width: 100%;
}

.form .input4 {
    width: calc(100% - 6rem);
}

.form .input3 {
    width: calc(100% - 10rem);
}

.form .input5 {
    width: calc(100% - 11rem);
}

.form .input6 {
    width: calc(100% - 12rem);
}

.nom {
    width: 100%;
}

.hero-sec5 .container {
    max-width: 1100px;
}

.cook-3 {
    width: 25rem;
}

.form-content {
    position: relative;
    margin-bottom: -4rem;
}

.leaf-pour {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.leaf-pour img {
    width: 2rem;
    position: absolute;
    left: -2.5rem;
}

.leaf-pour h5 {
    font-family: 'Aviator-Script';
    color: #fff;
    font-size: 2.5rem;
    margin: 0;
}

.form-pour {
    position: absolute;
    top: 24rem;
    left: 3rem;
}

.entourez {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
}

.ento-div1 {
    max-width: 14rem;
}

.ento-div1 h5 {
    font-family: 'Aviator-Script';
    color: #fff;
    font-size: 2.5rem;
    margin: 0;
}

.ento-div1 h6 {
    font-family: 'Aviator-Script';
    color: #fff;
    margin: 0;
    font-size: 1.7rem;
}

.form-pour p {
    font-family: 'Aviator-Script';
    color: #fff;
    font-size: 2rem;
    line-height: 1;
    margin: 0;
    max-width: 21rem;
    margin-top: 1rem;
}

.ticket h3 {
    margin: 0;
    font-family: 'Aviator-Script';
    color: #fff;
    font-size: 2rem;
    line-height: 1;
}

.ticket h4 {
    margin: 0;
    font-family: 'Aviator-Script';
    color: #fff;
    font-size: 1.2rem;
    line-height: 1;
}

.ticket {
    position: relative;
}

.parcour-btn {
    margin-top: 2rem;
    width: 47%;
}


.robot-sec input {
    width: 5rem;
    height: 1.5rem;
}

.robot-sec h4 {
    font-family: 'Avenir-Medium';
    font-size: .8rem;
    margin: 0;
    color: #fff;
}

.robot-sec-2 input {
    width: 7rem;
}

.champ {
    font-family: 'Avenir-Medium';
    font-size: .8rem;
    margin: 0;
    color: #fff;
    margin-left: 2rem;
    margin-top: 1rem;
}

.valide-btn {
    position: relative;
    display: flex;
    justify-content: end;
    margin: 0;
}

.bomb-content-2 img {
    width: 13rem;
}

.bomb-content-2 {
    margin-left: -1rem;
}

.bomb-content-3 {
    margin-left: 1rem;
}

.and-sign {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 7rem;
    left: 0.1rem;
}

.and-sign h2 {
    font-family: 'Aviator-Script';
    color: #fff;
    margin: 0;
    font-size: 6rem;
}

.purple-btn-1 {
    background-image: url(../images/purple-btn.png);
    font-family: 'Aviator-Script';
    margin: 0;
    font-size: 2.8rem;
    color: #fff;
    border: 0;
    background-color: transparent;
    background-size: 100% 100%;
    padding: 0 2rem;
}

.purple-btn2 {
    background-image: url(../images/purple-btn2.png);
    font-size: 1.5rem;
    padding: 0 1rem;
}

.je-joue-btn {
    background-image: url(../images/red-btn.png);
}

.cours-r .purple-btn {
    margin: 0;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}